{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
  <table>
    <tr>
      <th>Grouping name</th>
      <th>Bookkeeping</th>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>{{ bookkeeping_name }}</td>
    </tr>
  </table>
  <br>
  Accounts:
  <table>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Type</td>
    </tr>
    {% for a in accounts %}
    <tr>
      <td>{{ a.name }}</td>
      <td>{{ a.balance }}</td>
      <td>{{ a.type }}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  Transactions:
  <table id="transactions-list">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Valid</th>
    </tr>
    {% for t in transactions %}
      {% include "transaction-entry.part.html" %}
    {% endfor %}
  </table>
  <form
    hx-post="transactions/"
    hx-swap="afterbegin"
    hx-select="#transaction"
    hx-target="#transactions-list"
    hx-on::after-request="this.reset()"
  >
    Create new transaction:
    <br>
    Name: <input type="text" name="name">
    <br>
    Date: <input type="date" name="date">
    <br>
    <input type="submit" value="Create">
  </form>
  <br>
  <form hx-post="import_account_changes/" hx-encoding="multipart/form-data">
    Import account changes:
    <br>
    Account: <select name="account">
      {% for (t, accounts) in accounts_by_type %}
        <optgroup label="{{ t }}">
          {% for a in accounts %}
            <option value="{{ a.id }}">{{ a.name }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    <br>
    CSV file to import from: <input type="file" name="csv" accept="text/csv">
    <br>
    (Required columns are "Transaktionsdag" and "Belopp")
    <br>
    <input type="submit" value="Import">
  </form>
{% endblock %}
