{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
  <table>
    <tr>
      <th>Transaction name</th>
      <th>Transaction date</th>
      <th>Transaction sum</th>
      <th>Grouping</th>
      <th>Bookkeeping</th>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>{{ date }}</td>
      <td>{{ sum }}</td>
      <td><a href="../../">{{ grouping_name }}</a></td>
      <td><a href="../../../../">{{ bookkeeping_name }}</a></td>
    </tr>
  </table>
  <br>
  Account changes:
  <table id="account-changes-list">
    <tr>
      <th>Account</th>
      <th>Date</th>
      <th>Message</th>
      <th>Amount</th>
      <th display=none>ID</th>
    </tr>
    {% for a in account_changes %}
      {% include "account_change-entry.part.html" %}
    {% endfor %}
  </table>
  <form id="account-change-form"
    hx-post="account-changes/"
    hx-select="#account-change"
    hx-swap="beforeend"
    hx-target="#account-changes-list"
    hx-on::after-request="this.reset()"
  >
    Create new account change:
    <br>
    Account: <select name="account">
      {% for (t, accounts) in accounts_by_type %}
        <optgroup label="{{ t }}">
          {% for a in accounts %}
            <option value="{{ a.id }}">{{ a.name }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    <br>
    Date: <input type="date" name="date" value="{{ date.to_string() }}">
    <br>
    Message: <input type="text" name="message">
    <br>
    Amount: <input type="number" name="amount" step=".01">
    <br>
    <input type="submit" value="Create">
  </form>
{% endblock %}
