{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
  <table>
    <tr>
      <th>Bookkeeping name</th>
      <th>Owner</th>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>{{ owner }}</td>
    </tr>
  </table>
  <br>
  Accounts:
  <table id="accounts-list">
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Type</td>
    </tr>
    {% for a in accounts %}
    {% include "account-entry.part.html" %}
    {% endfor %}
  </table>
  <form id="account-form"
    hx-post="accounts/"
    hx-select="#account"
    hx-swap="beforeend"
    hx-target="#accounts-list"
    hx-on::after-request="this.reset()"
  >
    Create new account:
    <br>
    Name: <input type="text" name="name">
    <br>
    Type:
    {% for t in account_types %}
    <input type="radio" id="{{ t.name }}" name="type" value="{{ t.name }}">
    <label for="{{ t.name }}">{{ t.name }}</label>
    {% endfor %}
    <br>
    <input type="submit" value="Create">
  </form>
  <br>
  Transaction Groupings:
  <table id="groupings-list">
    <tr>
      <th>Name</th>
      <th>Total monetary movement</th>
    </tr>
    {% for g in groupings %}
    {% include "grouping-entry.part.html" %}
    {% endfor %}
  </table>
  <form
    hx-post="groupings/"
    hx-select="#grouping"
    hx-swap="beforeend"
    hx-target="#groupings-list"
    hx-on::after-request="this.reset()"
  >
    Create new grouping:
    <br>
    Name: <input type="text" name="name">
    <br>
    <input type="submit" value="Create">
  </form>
{% endblock %}
