{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
  <table>
    <tr>
      <th>Bookkeeping name</th>
      <th>Owner</th>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>{{ owner }}</td>
    </tr>
  </table>
  <br>
  Accounts:
  <table>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Type</td>
    </tr>
    {% for a in accounts %}
    <tr>
      {% if created.equals_account(a.id) %}
      <td><b>{{ a.name }}</b></td>
      {% else %}
      <td>{{ a.name }}</td>
      {% endif %}
      <td>{{ a.balance }}</td>
      <td>{{ a.type }}</td>
    </tr>
    {% endfor %}
  </table>
  <form method="post" formenctype="application/x-www-form-urlencoded" action="accounts/">
    Create new account:
    <br>
    Name: <input type="text" name="name">
    <br>
    Type:
    {% for t in account_types %}
    <input type="radio" id="{{ t.name }}" name="type" value="{{ t.name }}">
    <label for="{{ t.name }}">{{ t.name }}</label>
    {% endfor %}
    <br>
    <input type="submit" value="Create">
  </form>
  <br>
  Transaction Groupings:
  <table>
    <tr>
      <th>Name</th>
      <th>Total monetary movement</th>
    </tr>
    {% for g in groupings %}
    <tr>
      {% if created.equals_grouping(g.id) %}
      <td><a href="groupings/{{ g.id }}/"><b>{{ g.name }}</b></a></td>
      {% else %}
      <td><a href="groupings/{{ g.id }}/">{{ g.name }}</a></td>
      {% endif %}
      <td>{{ g.movement }}</td>
    </tr>
    {% endfor %}
  </table>
  <form method="post" formenctype="application/x-www-form-urlencoded" action="groupings/">
    Create new grouping:
    <br>
    Name: <input type="text" name="name">
    <br>
    <input type="submit" value="Create">
  </form>
{% endblock %}
